.dh-header-non-rectangular-container h1, p {
  color: white;
  font-weight: bold;
}

.clearmargin {
  margin: 0px;
}

.clearpadding {
  padding: 0px;
}

.row-image-txt {
  background-color: rgb(42,42,42);
}

.row-image-txt h1 {
  color: white;
}

.row-image-txt p {
  color: white;
}

