{% extends "layout.html" %}

{% block content %}
<div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6"><img class="main-image" src="/static/assets/img/5119EDD7-5D69-4851-BF18-2053A7ADB33A.JPEG"></div>
<div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding: 100px;">
    <h1 class="text-center">About Me</h1>
    <hr>
    <p>I am a Computer Vision Engineer, currently working at Wobot Intelligence, New Delhi.</p>
    <p>I code as a hobby and love to solve problems. My primary field of interest is Computer Vision, but I love to work on anything and everything</p>
    <p>As you can see, this is my first attempt at an end-to-end Full Stack Deployment of a Computer Vision Algorithm including the front-end design.</p>
    <p>Technologies Used:<br></p>
    <ul  class="text-light">
        <li>Python - Core</li>
        <li>Tensorflow with Keras - Deep Learning Frameworks</li>
        <li>Python Image Library (PIL) - Image Processing</li>
        <li>Flask and Jinja2 - Backend Server and Template Creation</li>
        <li>HTML, CSS and JavaScript - Frontend</li>
    </ul>
    <p>For a more formal introduction, please visit my LinkedIn profile here: <a href="https://www.linkedin.com/in/animikh-aich/">Animikh Aich</a></p>
</div>
{% endblock content %}