{% extends "layout.html" %}

{% block content %}
<div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6"><img class="main-image" src="/static/assets/img/flat-3252983.png"></div>
<div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding: 100px;">
    <h1 class="text-center">Facial Recognition Demo</h1>
    <hr>
    <p>This is my full stack weekend project. It performs Facial Recognition using Keras Implementation of <a href="https://github.com/rcmalli/keras-vggface">VGG Face by RCMalli</a>. The source code for this can be found in the GitHub repo <a href="https://github.com/animikhaich/Facial-Recognition-Dashboard">HERE</a>.&nbsp;<br></p>
    <p>Please follow the following instructions as we proceed forward:<br></p>
    <ol class="text-light">
        <li>Upload pictures of the people whose faces you would like to recognize in the future</li>
        <li>Faces will be detected and you will be prompted to enter the names of each detected face. You can skip a face if you don't want it to be identified.</li>
        <li>Upload the query images (different form the first ones) where the same group labeled group of faces are present.</li>
    </ol>
    <form style="text-align: center;vertical-align: middle;" method="GET" action="{{ url_for('upload_faces') }}">
        <input type="submit" value="Let's Begin!" name="next_button" class="btn btn-danger" style="border:none;width:180px;height:70px;margin-left:14px;background-color:#3abaa1;color:rgb(0, 0, 0);margin-top:12px; text-align:center;">
    </form>
</div>
{% endblock content %}