<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>
        {% if title %}
            Dashboard - {{ title }}
        {% else %}
            Dashboard
        {% endif %}
    </title>
    <link rel="icon" href="/static/assets/img/facial-recognition.png">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/Bootstrap-Image-Uploader.css">
    <link rel="stylesheet" href="/static/assets/css/dh-navbar-inverse.css">
    <link rel="stylesheet" href="/static/assets/css/dh-row-text-image-right-responsive.css">
    <link rel="stylesheet" href="/static/assets/css/Drag--Drop-Upload-Form.css">
    <link rel="stylesheet" href="/static/assets/css/gradient-navbar.css">
    <link rel="stylesheet" href="/static/assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/static/assets/css/Responsive-footer.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
</head>

<body>
    <!-- NAV BAR -->
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar" style="z-index: 999999;">
        <div class="container-fluid"><img src="/static/assets/img/facial-recognition.png" width="50"><a class="navbar-brand" href="#"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1"><span class="text-monospace text-dark navbar-text"><strong>Facial Recognition</strong></span>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>

    <!-- Body Content -->
    <div class="row clearmargin clearpadding row-image-txt">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer style="margin-top: 0px">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3 class="companylogo"><a class="companylogo" href="https://www.linkedin.com/in/animikh-aich/">Animikh&nbsp;<span>Aich</span></a></h3>
                <p class="links"><a href="{{ url_for('home') }}">Home</a><strong> ·&nbsp;&nbsp;</strong><a href="{{ url_for('about') }}">About</a><strong> ·&nbsp;&nbsp;</strong><a href="{{ url_for('contact') }}">Contact</a></p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts middle-footer">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p>New Delhi, India</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left" style="vertical-align: middle;"> +91 96119 33016</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="mailto:animikhaich@gmail.com" target="_blank">animikhaich@gmail.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4 class="aboutme">About Me</h4>
                <p>Full Stack Computer Vision Engineer, who likes to build things for fun over the weekend.</p>
                <div class="social-links social-icons">
                    <a href="https://www.linkedin.com/in/animikh-aich/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/animikhaich"><i class="fa fa-github"></i></a>
                    <a href="https://mobile.twitter.com/AichAnimikh"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/animikhaich96"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/Bootstrap-Image-Uploader.js"></script>
</body>

</html>