{% extends "layout.html" %}

{% block content %}
    <div><div class="bootstrap_img_upload">
    <div class="container py-5">

    <header class="text-white text-center">
        <h1 class="display-4">Upload Images containing the face(s) that you have already labeled</h1>
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150" class="mb-4">
    </header>


    <div class="row py-5">
        <div class="col-lg-2">

            <form action="" method="POST" class="input-group-append", enctype="multipart/form-data">
                <input type="file" name="file" id="pictures-input" multiple style="display: none;">
                <label for="pictures-input" class="btn btn-light m-0 rounded-pill px-6"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose Images</small></label>
                <input type="submit">
            </form>

        </div>
    </div>
</div>
</div></div>
{% endblock content %}