{% extends "layout.html" %}

{% block content %}
    <div><div class="bootstrap_img_upload">
    <div class="container py-5">

    <header class="text-white text-center">
        <h1 class="display-4">Upload Images with Faces that you want to recognize later down the road</h1>
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150" class="mb-4">
    </header>


    <div class="row py-5">
        <div class="col-lg-1 col-centered">

            <div class="text-center">
                <form action="" method="post" class="input-group-append">
                    <input type="file" name="faces" id="faces-input" multiple style="display: none;">
                    <label for="faces-input" class="btn btn-light m-0 rounded-pill px-6"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose Images</small></label>
                </form>
            </div>

        </div>
    </div>
</div>
</div></div>
{% endblock content %}